header {
    background-image: url("assets/skyline.jpg");
    background-size: cover;
    background-position: 0 50%;
    height: 400px;
}

nav li {
    float: left;
    margin: 25px;
    border: 10px solid black;
    padding: 25px;
}